<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uvad.demo.myrepresentatives"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyRepresentativesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uvad.demo.myrepresentatives.RepresentativeListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uvad.demo.myrepresentatives.RepresentativeDetailActivity"
            android:label="@string/title_representative_detail"
            android:parentActivityName=".RepresentativeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RepresentativeListActivity" />
        </activity>

        <provider
            android:name="com.uvad.demo.myrepresentatives.contentprovider.Provider"
            android:authorities="com.uvad.demo.myrepresentatives.provider.Model" 
            android:exported="false"/>
        <service android:name=".service.RepresentativeService"></service>
    </application>

</manifest>